
@font-face {
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 400 900;
    font-display: block;
    src: url(./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400 900;
    font-display: block;
    src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
}


html {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

