@use 'sass:list';

$fonts: "Sedan" !default;


@if list.index($fonts, "Playfair Display") {
    
    @font-face {
        font-family: "Playfair Display";
        font-style: italic;
        font-weight: 400 900;
        font-display: block;
        src: url(./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    }
    
    @font-face {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 400 900;
        font-display: block;
        src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf);
    }
}

@if list.index($fonts, "Sedan") {
    @font-face {
        font-family: "Sedan";
        font-style: italic;
        font-weight: 400 900;
        font-display: block;
        src: url(./fonts/Sedan-Italic.ttf);
    }
    
    @font-face {
        font-family: "Sedan";
        font-style: normal;
        font-weight: 400 900;
        font-display: block;
        src: url(./fonts/Sedan-Regular.ttf);
    }
}

@if list.index($fonts, "Courier Prime") {
    @font-face {
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(./fonts/CourierPrime-Regular.ttf);
    }
    
    @font-face {
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 700;
        font-display: block;
        src: url(./fonts/CourierPrime-Bold.ttf);
    }
    
    @font-face {
        font-family: "Courier Prime";
        font-style: italic;
        font-weight: 400;
        font-display: block;
        src: url(./fonts/CourierPrime-BoldItalic.ttf);
    }
    
    @font-face {
        font-family: "Courier Prime";
        font-style: italic;
        font-weight: 700;
        font-display: block;
        src: url(./fonts/.ttf);
    }
}


html {
    font-family: list.nth($fonts, 1);
    font-optical-sizing: auto;
    font-style: normal;
}

